:root{
    --transition:var(--transition);
}

*body{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}
.nav{
     align-items: center;
     background-color:rgb(231, 230, 228); 
     color:rgb(17, 16, 16);
     align-items: center;
     justify-content: space-around;
     margin-top:0%;
     width:100%;
     
 
}
.nav a li {
    align-items: center;
}
.nav button:hover{
     background-color: rgb(230, 202, 127);
     border-color:saddlebrown;
     color:white
}
h2{
    text-align: center;
    justify-content: center;
    margin: 0px 0px 12px;
}

.section {
    padding: 5rem 0;
  }
.main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
.menu {
    padding: 5rem 0;
  }
.title {
    text-align: center;
    margin-bottom: 2rem;
}
.underline {
    width: 3rem;
    height: 0.25rem;
    background: rgb(240, 170, 79);
    margin-left: auto;
    margin-right: auto;
  }
.btn-container {
    
    display: flex;
    justify-content: center;
    margin: 0px 0px 64px;
  }
.filter-btn {
    background: transparent;
    border-color:rgb(233, 151, 57);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius:35px;
    padding: 0.375rem 0.75rem;
    color:rgb(168, 114, 12);
    cursor: pointer;
    transition: var(--transition);
  }
.filter-btn:hover {
    background:rgb(221, 148, 13);
    color:white;
  }
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
  }
.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
  }
.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid rgb(211, 132, 67);
    border-radius:15px;
  }
.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted gray;
  }
.item-info h4 {
    margin-bottom: 0.5rem;
    margin:0 0 8px;
  }
.price {
    color:rgb(180, 127, 12);
    margin:0 0 8px;
}
.item-text {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    margin:10px;
    padding-top: 1rem;
    padding:16px 0px 0px;
    font-size:10px;
}
